# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Files built by Visual Studio
*.dbmdl
*.jfm
*.pfx
*.publishsettings
orleans.codegen.cs

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# macOS
.DS_Store

